/* MMM-next-episode.css */

.MMM-next-episode .show-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  /* Add space below each show element */
}

.MMM-next-episode .show-thumbnail {
    margin-right: 10px;
}
