/* MMM-next-episode.css */

.MMM-next-episode .show-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.MMM-next-episode .show-thumbnail {
    margin-right: 10px;
}

.MMM-next-episode .show-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.MMM-next-episode .show-name {
    font-weight: bold;
}

.MMM-next-episode .show-airdate {
    margin-left: 10px;
    text-align: right;
}
