/* MMM-next-episode.css */

.MMM-next-episode .show-element {
    display: flex;
    align-items: flex-start; /* Align items vertically at the top */
    margin-bottom: 10px;
}

.MMM-next-episode .show-thumbnail {
    margin-right: 10px;
}

.MMM-next-episode .show-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
